<%= render partial: "shared/partial_sidebar" %>


<div class="ui page grid right">
	<div class="row">
		<div class="column">
			<h3 class="ui header">Welcome <%=@current_user.first_name %> <%=@current_user.last_name %></h3>
		</div>
	</div>
	<% @users.each do |user| %>
	<% if @current_user.id != user.id %>
	  <div class="row">
	    <div class="thirteen wide column">
		    <div class="ui blue segment stacked">
		    	<img class="ui circular small image" src="<%= user.img_url %>">
		      <a href="../users/<%=user.id %>"><h2 class="text center"><%= user.first_name %> <%=user.last_name %></h2></a>
		    	<% user.posts.order('updated_at DESC').limit('2').each do |post| %>
		    	<div class="row">
		    		<h4 class="ui header"><%= post.title %></h4>
			    		<span class="date"><%=post.updated_at.to_formatted_s(:long) %></span>
			    		<p><%=post.content %></p>
		    	</div>
		    	<% end %>
		    </div>
			</div>
	  </div>
	<% end %>
	<% end %>
</div>