<!-- _comment_show.html.erb -->
<div class="comment comment-con">
   <a class="avatar">
    <%= image_tag "icon_1500.png" %>
  </a>
  <div class="content">
    <h3 class="ui title"><%= comment.title %></h3>
    <div class="metadata">
      <span class="date"><%= comment.created_at.to_formatted_s(:long) if comment.created_at %></span>
    </div>
    <div class="text">
      <%= comment.body %>
    </div>
    <div class="actions">
      <a href="" class="comment reply" data-comment-id="<%= comment.id %>">Reply</a>
      <%# render partial: "shared/comment_form", locals: {parent: comment, comment: comment.comments.new, button_label: "Add reply"} %>
      <%=link_to "Delete", method: :delete, class:"delete"%>
    </div>
    <div class="comments">
      <% comment.comments.each do |sub_comment| %>
        <%= render partial: "shared/comment_show", locals: {comment: sub_comment} %>
      <% end %>  
    </div>
  </div>
</div>