<%=form_for :user do |f| %>
<div class="field">
	<%=f.text_field :email, placeholder:"E-mail" %>
</div>
<div class="field">
	<%=f.password_field :password, placeholder: "Password" %>
</div>
	<%=f.submit button_label, class: "ui green button" %>
<% end %>

<div class="space-above">
  <a class="item" href="<%= new_password_url %>">Forgot your password?</a>
</div>
