<div class="ui leftbar inverted vertical menu">
  <div>
    <% if (@user.img_url != nil) %>
    <div class="portrait-wrapper">
      <div class="img-crop-circle">

        <img src="<%= @user.img_url %>" alt="<%= @user.first_name %>">


      </div>

    </div>
    <% end %>
    <div class="header item">
      <h4 class="ui header center aligned"><%= @user.first_name %></h4>
    </div>
  </div>
  <a class="item" href="/users">
    All Users
  </a>
  <%= link_to "User Page", user_path(@user), :class => "item" %>
  <%= link_to "Create a Post", new_user_post_path(@user), :class => "item" %>
  <!-- <div class="item">
    <b>More</b>
    <div class="menu">
      <a class="item">About</a>
      <a class="item">Contact Us</a>
    </div> -->
  </div>
</div>