<div class="ui leftbar red inverted vertical menu">
  <div>
    <% if @current_user != nil %>
    <% if (@current_user.img_url != nil) %>
    <div class="portrait-wrapper">
      <div class="img-crop-circle">

        <img src="<%= @current_user.img_url %>" class="ui large image" alt="<%= @current_user.first_name %>">


      </div>

    </div>

    <div class="header item">
      <h4 class="ui header center aligned"><%= @current_user.first_name %></h4>
    </div>
    <% end %>

  </div>

    <%= link_to "All Users", users_path, :class => "item" %>
    <%= link_to "User Page", user_path(@current_user), :class => "item" %>
    <%= link_to "Create a Post", new_user_post_path(@current_user), :class => "item" %>
    <%= link_to "Logout", logout_url, :class => "item" %>
  <% else %>
    <a class="item" href="/users/new">Sign up</a>
    <a class="item" href="/login">Login</a>
  <% end %>


</div><!-- closes vertical menu -->
</div>