<div class="ui leftbar inverted vertical menu">
  <div>
    <% if @user != nil %>
    <% if (@user.img_url != nil) %>
    <div class="portrait-wrapper">
      <div class="img-crop-circle">

        <img src="<%= @user.img_url %>" class="ui large image" alt="<%= @user.first_name %>">


      </div>

    </div>
    <% end %>
    <% end %>
    <div class="header item">
      <h4 class="ui header center aligned"><%= @user.first_name %></h4>
    </div>
  </div>
  <% if @current_user != nil %>
    <%= link_to "All Users", users_path, :class => "item" %>
    <%= link_to "User Page", user_path(@user), :class => "item" %>
    <%= link_to "Create a Post", new_user_post_path(@user), :class => "item" %>
    <%= link_to "Logout", logout_url, :class => "item" %>
  <% else %>
    <a class="item" href="/users/new">Sign up</a>
    <a class="item" href="/login">Login</a>
  <% end %>


  </div><!-- closes vertical menu -->