
  <!-- show.html.erb -->
<%= render partial: "shared/partial_sidebar" %>


<div class="ui page grid right">
  <div class="one column row">
    <h2 class="ui header"><%=@post.title %></h2>
    <h5 class="ui header"><%=@post.created_at.to_formatted_s(:long) %></h5>
  </div>
  <div class="one column row">
    <div class="fourteen wide column">
    <%= render partial: "shared/tags" %>
      <p><%=@post.content %></p>

      <!-- conditional: if current user owns this post, allow editing -->
      <% if @editable %>
        <p><%= link_to "Update This?", edit_user_post_path, class: "ui blue button" %></p>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="fourteen wide column">
        <div class="ui piled blue segment">
          <h2 class="ui header">
            <i class="icon inverted circular blue comment"></i> Comments
          </h2>
          <div class="ui comments">
            <% @comments.each do |comment| %>
              <%= render partial: "shared/comment_show", locals: {comment: comment} %>
            <% end %>
           
            <%= render partial: "shared/comment_form", locals: {parent: @post, comment: @post.comments.new, button_label: "Add reply"} %>
         
          </div>
        </div>
      </div>
  </div>