<!-- show.html.erb -->
<%= render partial: "shared/partial_sidebar" %>


<div class="ui vertically divided page grid right">
  <div class="one column row">
    <h2 class="ui header"><%=@post.title %></h2>
    <h5 class="ui header"><%=@post.created_at %></h5>
  </div>
  <div class="one column row">
    <div class="column">
      <p><%=@post.content %></p>

        <p><%= link_to "Update This?",edit_user_post_path, class: "ui blue button" %></p>

    </div>
  </div>
  <div class="two column row">
    <div class="column">
        <div class="ui piled blue segment">
          <h2 class="ui header">
            <i class="icon inverted circular blue comment"></i> Comments
          </h2>
          <div class="ui comments">
            <div class="comment">
              <a class="avatar">
                <%= image_tag "icon_1500.png" %>
              </a>
              <div class="content">
                <% @comments.each do |comment| %>
                <h3 class="ui title"><%= comment.title %></h3>
                <div class="metadata">
                  <span class="date"><%= comment.updated_at %></span>
                </div>
                <div class="text">
                  <%= comment.body %>
                </div>
                <div class="actions">
                  <a class="reply">Reply</a>
                  <a class="delete">Delete</a>
                  <a class="edit">Edit</a>
                </div>
                <% end %>
              </div>
            </div>
            <form class="ui reply form">
              <div class="field">
                <textarea></textarea>
              </div>
              <div class="ui fluid blue labeled submit icon button">
                <i class="icon edit"></i> Add Reply
              </div>
            </form>
          </div>
        </div>
      </div>
    <div class="column"></div>
  </div>